<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/skeleton.css">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/custom.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width", initial-scale="1">
    <title>
        <%= title %>
    </title>
</head>

<body>
<div class="container">
    <nav class="navbar">
        <div class="container">
            <ul class="navbar-list">
                <div class="container">
                <%  if(!currentUser){ %>
                <li class="active navbar-item"><a class="navbar-link" href="/login">Login <span class="sr-only">(current)</span></a></li>
                <li class="navbar-item"><a class="navbar-link" href="/register">Register</a></li>
                <% } else { %>
                <li class="navbar-item"><a class="navbar-link" href="/users">Users</a></li>
                <li class="navbar-item"><a class="navbar-link" href="/services">Services</a></li>
                <li class="navbar-item"><a class="navbar-link" href="/logout">Logout</a></li>
                <% } %>
                </div>
            </ul>
        </div>
    </nav>
</div>
<%  if(message){ %>
<div class="container">
    <div class="container">
        <h1><%= message %></h1>
    </div>
</div>
<% } else { %>
<div class="container">
    <div class="container">
        <h1> </h1>
    </div>
</div>
<% } %>

