<% include partials/header %>


<div class="container">
    <header class="jumbotron">
        <h2>
            Services
        </h2>
    </header>

    <div class="row">
        <div class="col-1">
            <a href="https://discord.gg/2mmy7us">Services</a>
        </div>
    </div>
</div>

<% include partials/footer %>