<% include partials/header %>
<div class="container">
    <div class="row">
        <div class="container">
            <form action="/descriptions" method="POST">
                <h1><%= message %></h1>
                <h4> Add info to </h4>
                <div class="docs-section">
                    <div class="row docs-example">
                        <label for="description[serviceName]">Service Name</label>
                        <input type="text" name="description[serviceName]">
                    </div>

                    <div class="row docs-example">
                        <label for="description[info]">Info</label>
                        <input type="text" name="description[info]">
                    </div>
                </div>

                <div class="row docs-example">
                    <button>Submit</button>
                </div>

            </form>
        </div>
    </div>
</div>

<% include partials/footer %>