<% include partials/header %>
<div class="container">
    <div class="docs-example">
        <br>
        <h2 class="docs-header">Edit <%= currentUser.username %></h2>
        <br>
            <form action="/users/<%= currentUser._id %>?_method=PUT" method="POST">
                <div class="row">
                    <label for="username">Username</label>
                    <input type="text" name="username" value="<%= currentUser.username.toUpperCase() %>">
                </div>
                <div class="row">
                    <label for="username">Email</label>
                    <input type="text" name="email" value="<%= currentUser.email.toUpperCase() %>">
                </div>
                <div class="row">
                    <label for="username">Info</label>
                    <input type="text" name="description[info]" value="">
                </div>
                <br>
                <div class="form-group">
                    <button>Submit</button>
                </div>
            </form>
    </div>
</div>
<% include partials/footer %>