<% include partials/header %>
<div class="container">
    <header class="jumbotron">
        Home
    </header>
    <h4><%= currentUser %></h4>
    <div>
        <li><a href="/users">Users</a></li>
        <li><a href="/services">Services</a></li>
    </div>
</div>
<% include partials/footer %>
