<% include partials/header %>
<div class="container">
    <div class="row">
        <div class="container">
            <form action="/login" method="POST">
                <div class="row">
                    <h1> Login </h1>
                    <div class="container">
                        <label for="email">Username</label>
                        <input type="text" name="username">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="container">
                        <label for="email">Password</label>
                        <input type="password" name="password">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="container">
                        <button>Submit</button>
                        <br>
                        <br>
                        <a href="/register">Register</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<% include partials/footer %>