<% include partials/header%>
<div class="container">
    <div class="row">
        <div class="container">
                    <form action="/register" method="POST">
                        <div class="row">
                            <h4> Register</h4>
                            <div class="container">
                                <label for="email">Email</label>
                                <input type="text" name="email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="container">
                                <label for="email">Username</label>
                                <input type="text" name="username">
                            </div>
                        </div>
                        <div class="row">
                            <div class="container">
                                <label for="password">Password</label>
                                <input type="password" name="password">
                            </div>
                        </div>
                        <div class="row">
                            <div class="container">
                                <input type="hidden" name="description[]">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="container">
                                <button>Submit</button>
                            </div>
                        </div>
                    </form>
        </div>
    </div>
</div>

<% include partials/footer%>