<% include partials/header%>
<div class="container">
    <div class="row">
        <div class="container">
                    <form action="/register" method="POST">
                        <h4> Register</h4>
                        <div class="docs-section">
                            <div class="row docs-example">
                                <label for="email">Email</label>
                                <input type="text" name="email">
                            </div>

                            <div class="row docs-example">
                                <label for="email">Username</label>
                                <input type="text" name="username">
                            </div>

                            <div class="row docs-example">
                                <label for="password">Password</label>
                                <input type="text" name="password" required >
                            </div>

                            <div class="row docs-example">
                                <input type="hidden" name="description[serviceName]">
                            </div>

                            <div class="row docs-example">
                                <input type="hidden" name="description[info]">
                            </div>
                        </div>

                        <div class="row docs-example">
                            <button>Submit</button>
                        </div>

               </form>
        </div>
    </div>
</div>

<% include partials/footer%>