<% include partials/header %>


<div class="container">
<h1> The Services page </h1>
    <div class="row">
        <div class="col-1">
            <a href="https://discord.gg/2mmy7us">Services</a>
        </div>
    </div>
</div>

<% include partials/footer %>