<% include partials/header %>
<div class="container">
    <div class="docs-example">
        <br>
        <h2 class="docs-header"><%= user.username %></h2>
        <h2 class="docs-header"><%= user.id %></h2>
        <br>

    <form id="edit" action="/users/<%= user.id %>/edit" method="GET">
            <button class="button">Edit User</button>
        </form>

        <form id="delete" action="/users/<%= user._id %>?_method=DELETE" method="POST">
            <button class="button">Delete User</button>
        </form>

    </div>
</div>
<br>
<br>
<br>
<br>
<div>
    <form id="back" action="/users/" method="get">
        <button class="button">Go back</button>
    </form>
</div>

<% include partials/footer %>